<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    <section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <configProtectedData>
    <providers>
      <add keyContainerName="CAOKey"
           useMachineContainer="true"
           description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
           name="CAOProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  
  <!-- Custom AppSettings stored in an external file -->
  <CAAppSettings configSource="appsettings.config" />
  
  <appSettings>

    <!-- General CA settings -->
    <add key="DeploymentChannel"					value="elephant" />
    <add key="AWSRegion" 							value="us-west-2"/>
    <add key="AWSNoOfRetries" 						value="5" />
    <add key="AWSLogging" 							value="log4net"/>
    <add key="MemberUpload" 						value="Yes" />
    <add key="ShortExpiration" 						value="6"/>
    <add key="LongExpiration" 						value="24"/>
    <add key="ConnTimeout" 							value="300"/>
    <add key="CmdTimeout" 							value="180"/>
    <add key="SWFDomain" 							value="prod16.elephant.member" />
    <add key="SWFTaskList" 							value="Small-Tasks" />
    <add key="ServiceName" 							value="SWFSmallActivity-Member" />
    <add key="ServiceDescription"       			value="SWFSmallActivity-Member" />
    <add key="DisplayName"                   		value="CA Member SWF Small Tasks" />
    <add key="ProcessCount" 						value="6" />
    <add key="CompressPath" 						value="C:\PDF\Compress\" />
    <add key="FtpPath" 								value="C:\FTP" />
    <add key="CloudWatchNamespaceForErrorCounts" 	value="CA/Errors"/>
    <add key="PdfFileNotFoundMetricName" 			value="FileNotFoundPdfInsertCount"/>
    <add key="PrintBatchFilePath" 					value="C:\PDF\temp\"/>
    <add key="AppRuntimeEnvironment" 				value="prod" />

    <!-- CA URL settings -->
    <add key="ContentPath" 							value="https://apply.commonapp.org"/>

    <!-- S3 settings -->
    <add key="BucketTempPreviewRec" 				value="ca.prod16.pdf-preview/rec" />
    <add key="BucketTempPreviewApp" 				value="ca.prod16.pdf-preview/app" />
    <add key="BucketUploadCommon" 					value="ca.prod16.upload-perm/answers/app/common" />
    <add key="BucketUploadMember" 					value="ca.prod16.upload-perm/answers/app/member" />
    <add key="BucketUploadRecProfile" 				value="ca.prod16.upload-perm/answers/rec/profile" />
    <add key="BucketUploadRecForm" 					value="ca.prod16.upload-perm/answers/rec/form" />
    <add key="BucketMemberTemplate" 				value="ca.prod16.upload-perm/member/screen" />
    <add key="BucketMemberSupplement" 				value="ca.prod16.upload-perm/member/supplement" />
    <add key="BucketCommonAppFormSubmission" 		value="ca.prod16.pdf-submitted/app" />
    <add key="BucketRecFormSubmission" 				value="ca.prod16.pdf-submitted/rec" />
    <add key="BucketSWFTemp" 						value="ca.prod16.swf-temp"/>
    <add key="BucketMemberSds"              		value="ca.prod16.sds"/>

    <!-- Dynamo settings -->
    <add key="TableNamePrefix" 						value="Prod16" />

    <!-- ElastiCache settings -->
   <add key="RedisPrimary" 						value="dbcache.private.prod16.commonapp.net"/>
   <!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
    <add key="RedisDatabaseId" 						value ="0"/>

    <!-- MySql Connections -->
    <add key="defaultConnection" 				value="MySqlConnection"/>
    <add key="connectionProvider" 				value="MySql"/>
    <add key="defaultMemberConnection" 			value="MySqlMemberConnection"/>
    <add key="memberConnectionProvider" 		value="MySql"/>
    <add key="readReplicaConnection" 			value="MySqlReadReplicaConnection"/>
    <add key="readReplicaConnectionProvider" 	value="MySql"/>

    <!-- SWF Activity-->
    <add key="GetDataForPrint" 						value="activity.print.get-data"/>
    <add key="BatchPrint" 							value="activity.print.batch"/>
    <add key="MarkAsPrinted" 						value="activity.print.mark-date"/>
    <add key="CompressPrintFiles" 					value="activity.print.compress-files"/>
    <add key="EncryptPrintFiles" 					value="activity.print.encrypt-files"/>
    <add key="CreatePrintHistory" 					value="activity.print.create-history"/>
    <add key="CopyPrintFileToPermanentLocation" 	value="activity.print.copy-to-perm"/>
    <add key="CopyPrintFileToFtp" 					value="activity.print.copy-to-ftp"/>
    <add key="CleanupPrint" 						value="activity.print.cleanup"/>
    
    <add key="GetDataForExport" 					value="activity.export.get-data"/>
    <add key="BatchExport" 							value="activity.export.batch"/>
    <add key="CreateExportHistory" 					value="activity.export.create-history"/>
    <add key="MarkAsExported" 						value="activity.export.mark-date"/>
    <add key="EncryptExportFiles" 					value="activity.export.encrypt-files"/>
    <add key="CopyExportFileToPermanentLocation" 	value="activity.export.copy-to-perm"/>
    <add key="CopyExportFileToFtp" 					value="activity.export.copy-to-ftp"/>
    <add key="CleanupExport" 						value="activity.export.cleanup"/>

    <!--SWF Activity Small Export work flow configs - Version,ScheduleToCloseTimeout,ScheduleToStartTimeout,StartToCloseTimeout -->
    <add key="SmallExportGetDataForExportConfig" 			value="1.0,1800,1200,1200"/>
    <add key="SmallExportBatchExportConfig" 				value="1.0,4200,3600,3600"/>
    <add key="SmallExportMarkAsExportedConfig" 				value="1.0,1800,1200,1200"/>
    <add key="SmallExportCleanupExportConfig" 				value="1.0,1800,1200,1200"/>

    <!--SWF Activity Small Print work flow configs - Version,ScheduleToCloseTimeout,ScheduleToStartTimeout,StartToCloseTimeout -->
    <add key="SmallPrintGetDataForPrintConfig" 				value="1.0,1800,1200,1200"/>
    <add key="SmallPrintBatchPrintConfig" 					value="1.0,4200,3600,3600"/>
    <add key="SmallPrintMarkAsPrintedConfig" 				value="1.0,1800,1200,1200"/>
    <add key="SmallPrintCleanupPrintConfig" 				value="1.0,1800,1200,1200"/>

  </appSettings>

  <connectionStrings configSource="connstrings.config" />
  
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
