<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    <section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <configProtectedData>
    <providers>
      <add keyContainerName="CAOKey" useMachineContainer="true"
        description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>

  <!-- Custom AppSettings stored in an external file -->
  <CAAppSettings configSource="appsettings.config" />

  <appSettings>
    <!-- General ASP.Net settings -->
    <add key="webpages:Version"               	value="3.0.0.0" />
    <add key="ClientValidationEnabled"        	value="true" />
    <add key="UnobtrusiveJavaScriptEnabled"   	value="true" />

    <!-- General CA settings -->
    <add key="DeploymentChannel"				value="donkey" />
    <add key="AppRuntimeEnvironment"          	value="prod" />
    <add key="SubSystem"                      	value="Rec" />
    <add key="AWSRegion"                      	value="us-west-2" />
    <add key="AWSNoOfRetries"                 	value="5" />
    <add key="AWSLogging"                     	value="log4net" />
    <add key="ShowRecWorkspace"               	value="true" />
    <add key="CookieUseSSL"                   	value="false" />
    <add key="SeasonStartDate" 					value="07/30/2016"/>
    <add key="AutosaveTime" 				value="180000" />
    
    <!-- CA URL settings -->
    <add key="AppLoginPageUrl" 					value="https://apply.commonapp.org" />
    <add key="RecLogInUrl" 				    	value="https://recommend.commonapp.org" />
    <add key="ContentPath"                  	value="https://apply.commonapp.org" />
    <add key="InvitationRegisterUrl"        	value="https://recommend.commonapp.org/RecAccount/Register" />
    <add key="InvitationForgotPasswordUrl" 		value="https://recommend.commonapp.org/forgot-password" />
    <add key="OptOutUrl"                    	value="https://recommend.commonapp.org/RecAccount/RecOptOut" />
    <add key="DeclineUrl"                   	value="https://recommend.commonapp.org/RecAccount/RecDecline" />
    <add key="ParentEDFormUrl"              	value="https://recommend.commonapp.org/RecAccount/ParentED" />
    <add key="RecHelpUrl"                   	value="https://recsupport.commonapp.org/" />
    <add key="RecHelpSsoUrl"                	value="https://recsupport.commonapp.org/link/portal/33011/33013/sso/2" />
    <add key="RecSupportUrl"                	value="https://recsupport.commonapp.org" />

    <!-- S3 settings -->
    <add key="BucketTempRawApp"               value="ca.prod16.upload-temp/raw/app" />
    <add key="BucketTempRawRec"               value="ca.prod16.upload-temp/raw/rec" />
    <add key="BucketTempConvApp"              value="ca.prod16.upload-temp/converted/app" />
    <add key="BucketTempConvRec"              value="ca.prod16.upload-temp/converted/rec" />
    <add key="BucketUploadCommon"             value="ca.prod16.upload-perm/answers/app/common" />
    <add key="BucketUploadMember"             value="ca.prod16.upload-perm/answers/app/member" />
    <add key="BucketUploadRecProfile"         value="ca.prod16.upload-perm/answers/rec/profile" />
    <add key="BucketUploadRecForm"            value="ca.prod16.upload-perm/answers/rec/form" />
    <add key="BucketCommonAppFormSubmission"  value="ca.prod16.pdf-submitted/app" />
    <add key="BucketRecFormSubmission"        value="ca.prod16.pdf-submitted/rec" />
    <add key="BucketTempPreviewApp"           value="ca.prod16.pdf-preview/app" />
    <add key="BucketTempPreviewRec"           value="ca.prod16.pdf-preview/rec" />
    <add key="BucketPublicFiles"              value="ca.prod16.static-public" />

    <!-- CloudFront settings -->
    <add key="CdnBucketPublicFiles"           value="https://d2knvf3qgk8r0i.cloudfront.net" />

    <!-- Dynamo settings -->
    <add key="TableNamePrefix"                value="Prod16" />

    <!-- ElastiCache settings -->
    <add key="RedisPrimary"                   value="session-state-replica.private.prod16.commonapp.net" />
    
    <!-- App and Rec use Help Topics, so ID needs to be 4 -->
    <add key="RedisDatabaseId"                value="4" />

    <!-- Parature settings -->
    <add key="ParatureInstanceId"             value="CommonAppPassthrough" />
    <add key="ParaturePartnerId"              value="CommonAppPassthrough" />
    <add key="ParatureSSOBaseUrl"             value="https://sso.parature.com" />


    <add key="GoogleSampling"                 value="10"/>

    <!-- Footer Urls -->
    <add key="TermsOfUseUrl"                  value="https://www.commonapp.org/terms-of-use"/>
    <add key="PrivacyPolicyUrl"               value="http://www.commonapp.org/privacy-policy"/>
    <add key="SystemRequirementsUrl"          value="https://appsupport.commonapp.org/ics/support/KBAnswer.asp?questionID=27"/>
    <add key="LicenseUrl"                     value="https://www.commonapp.org/license-agreement" />
  
    <!-- TRUSTe links-->
	<add key="TRUSTeImgTall"   				value="//privacy-policy.truste.com/certified-seal/ctv/en/www.commonapp.org/seal_m.png"/>
	<add key="TRUSTeRid"       				value="901e8348-1fd6-46ef-855a-17aa00569ef3"/>
	<add key="TRUSTeAnchorUrl" 				value="//privacy.truste.com/privacy-seal/validation?rid="/>
	<add key="TRUSTeImgLong"   				value="//privacy-policy.truste.com/privacy-seal/seal?rid="/>
	<add key="TRUSTeScriptUrl" 				value="//privacy-policy.truste.com/privacy-seal/asc?rid="/>


  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <authentication mode="Forms">
      <forms name="CA_REC_AUTH" loginUrl="~/Login" timeout="90" cookieless="UseCookies" requireSSL="false" />
    </authentication>
    <sessionState timeout="62" mode="Custom" cookieName="CA_REC_SESS" customProvider="RedisSessionStateStore">
      <providers>
        <add name="RedisSessionStateStore"
          type="Microsoft.Web.Redis.RedisSessionStateProvider"
          host="session-state.private.prod16.commonapp.net" ssl="false"
          applicationName = "Rec"
          databaseId = "1"
          connectionTimeoutInMilliseconds = "5000"
          operationTimeoutInMilliseconds = "1000"
          retryTimeoutInMilliseconds = "3000" />
      </providers>
    </sessionState>
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcBase.WebHelper" />
      </namespaces>
    </pages>
    <machineKey configSource="machinekey.config" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
         <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="405" subStatusCode="-1" />
      <error statusCode="405" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="406" subStatusCode="-1" />
      <error statusCode="406" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="412" subStatusCode="-1" />
      <error statusCode="412" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="501" subStatusCode="-1" />
      <error statusCode="501" path="/error.html" responseMode="ExecuteURL" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="502" path="/error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
            <add input="{HTTP_HOST}" pattern="pmtconf.commonapp.org" negate="true" />
            <add input="{HTTP_HOST}" pattern="\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="httpUserToken" type="ServiceBehaviour.HttpUserTokenBehaviorExtensionElement, ServiceBehaviour, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LegacyServiceEndpointBehavior">
          <httpUserToken userToken="Default User token" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAnswerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2097152" maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRequirementGroupService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDataCatalogService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5048576" maxBufferPoolSize="5048576" maxReceivedMessageSize="5048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="98192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IApplicantService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRecommenderService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1073741824" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRequirementRuleService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthenticationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILookupService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAddAnotherGrpService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMemberService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICommonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFormService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFileUploadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRecAssignService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMemberProfileService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPrintService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"  maxBufferPoolSize="2097152" maxBufferSize="4097152" maxReceivedMessageSize="4097152" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2097152" maxArrayLength="2097152" maxBytesPerRead="2097152" maxNameTableCharCount="2097152" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMemberScreenDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/AddAnotherGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddAnotherGrpService" contract="AddAnotherGrpServiceRef.IAddAnotherGrpService" name="BasicHttpBinding_IAddAnotherGrpService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/AnswerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnswerService" contract="AnswerServiceRef.IAnswerService" name="BasicHttpBinding_IAnswerService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/ApplicantService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService" contract="ApplicantServiceRef.IApplicantService" name="BasicHttpBinding_IApplicantService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService" contract="AuthenticationServiceRef.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonServiceRef.ICommonService" name="BasicHttpBinding_ICommonService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/DataCatalogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCatalogService" contract="DataCatalogServiceRef.IDataCatalogService" name="BasicHttpBinding_IDataCatalogService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/FileUploadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileUploadService" contract="FileUploadServiceRef.IFileUploadService" name="BasicHttpBinding_IFileUploadService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/FormService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormService" contract="FormServiceRef.IFormService" name="BasicHttpBinding_IFormService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/LookupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILookupService" contract="LookupServiceRef.ILookupService" name="BasicHttpBinding_ILookupService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberProfileService" contract="MemberProfileServiceRef.IMemberProfileService" name="BasicHttpBinding_IMemberProfileService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberScreenDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberScreenDataService" contract="MemberScreenDataServiceRef.IMemberScreenDataService" name="BasicHttpBinding_IMemberScreenDataService" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService" contract="MemberServiceRef.IMemberService" name="BasicHttpBinding_IMemberService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/RecAssignService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecAssignService" contract="RecAssignServiceRef.IRecAssignService" name="BasicHttpBinding_IRecAssignService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/RecommenderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecommenderService" contract="RecommenderServiceRef.IRecommenderService" name="BasicHttpBinding_IRecommenderService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/RequirementGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequirementGroupService" contract="RequirementGroupServiceRef.IRequirementGroupService" name="BasicHttpBinding_IRequirementGroupService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-logic.private.prod16.commonapp.net/RequirementRuleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequirementRuleService" contract="RequirementRuleServiceRef.IRequirementRuleService" name="BasicHttpBinding_IRequirementRuleService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
      <endpoint address="http://donkey-pdf.private.prod16.commonapp.net/PrintService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintService" contract="PrintServiceRef.IPrintService" name="BasicHttpBinding_IPrintService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
    </client>
  </system.serviceModel>
</configuration>
