<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus"/>
		<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	
	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider"
				type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>
	
	<!-- Custom AppSettings stored in an external file -->
	<CAAppSettings configSource="appsettings.config" />

	<appSettings>
		<!-- General CA settings -->
		<add key="DeploymentChannel"						value="elephant" />
		<add key="AWSRegion"  								value="us-west-2"/>
		<add key="ConnTimeout"  							value="300"/>
		<add key="CmdTimeout"  								value="180"/>
		<add key="AWSLogging" 								value="log4net"/>
		<add key="ServiceName"  							value="AccountRolloverMessageProcessor" />
		<add key="ServiceDescription"  						value="Listens for Account rollover messages on Amazon SQS and processes them." />
		<add key="DisplayName"  							value="CA Account Rollover Message Processor" />
		<add key="ServiceStartupTime"  						value="90" />

		<!--MySql Connection settings -->
		<add key="defaultConnection" 						value="MySqlConnection"/>
		<add key="connectionProvider"  						value="MySql"/>
		<add key="defaultMemberConnection"  				value="MySqlMemberConnection"/>
		<add key="memberConnectionProvider"  				value="MySql"/>
		<add key="readReplicaConnection"  					value="MySqlReadReplicaConnection"/>
		<add key="readReplicaConnectionProvider"  			value="MySql"/>
		
		<!-- S3 settings -->
		<add key="BucketTempConvAppPreviousSeason" 			value="ca.prod15.upload-perm/answers/app/common"/>
		<add key="BucketTempConvApp"  						value="ca.prod16.upload-temp/converted/app"/>
		<add key="BucketUploadCommon"  						value="ca.prod16.upload-perm/answers/app/common"/>
		<add key="BucketAccountRollover"  					value="ca.prod16.account-rollover"/>

		<!-- DynamoDB settings -->
		<add key="TableNamePrefix"  						value="Prod16"/>
		
		<!-- ElastiCache settings -->
		<add key="RedisPrimary"  							value="dbcache.private.prod16.commonapp.net"/>
		<!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
		<add key="RedisDatabaseId"  						value="0"/>
		<add key="ShortExpiration"  						value="6"/>
		<add key="LongExpiration"  							value="24"/>
		<add key="HelpExpiration"  							value=""/>

		<!--Comma seperated list of question ids which should not be rolled over--> 
		<add key="DoNotRolloverQuestions"                   value="30,31,32,33,247,365,386,468,547,681,764,833,834,1021,1022,1049,1507,1720,1721,1805"/>
		<add key="ARQueue" 				    value="prod16-elephant-accountrollover"/>
	</appSettings>
	
	<connectionStrings configSource="connstrings.config" />
	
	<rebus inputQueue="prod16-elephant-accountrollover" errorQueue="prod16-accountrollovererror" workers="5" maxRetries="10"/>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

</configuration>
