<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
    	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    	<section name="CAMobileAppSettings" type="CAMobile.Infrastructure.Configuration.CAMobileSettingsSection, CAMobile.Infrastructure.Configuration"/>
  		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus"/>
  	</configSections>

  	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

  	<system.web>
    		<compilation debug="false" targetFramework="4.5.1" />
    		<httpRuntime targetFramework="4.5.1" />
  	</system.web>

  	<!-- Custom AppSettings stored in an external file -->
	<CAMobileAppSettings configSource="appsettings.config" />

  	<appSettings>
  		<!-- General CA settings -->
        <add key="DeploymentChannel"						value="house" />
		<add key="Issuer" 									value="https://mobile-auth.commonapp.org"/>
		<add key="TableNamePrefix" 							value="Prod16" />
		<add key="AWSSNSiOSPushARN" 						value="arn:aws:sns:us-west-2:213357028576:app/APNS/prod16.mobile-app"/>
		<add key="AWSSNSAndroidPushARN" 					value="arn:aws:sns:us-west-2:213357028576:app/GCM/prod16.mobile-app.android"/>
		<add key="AWSRegion" 								value="us-west-2" />
		<add key="AWSNoOfRetries" 							value="5" />
     	<add key="InvitationEmailUpdatePasswordLinkExpiry" 	value="2160"/>
		<add key="RecDefaultPassword" 						value="f9KZpsXr$$%k"/>
		<add key="PasswordHashIterationCount" 				value="10251"/>
		
		<!-- Settings for initialization only - VALUES DO NOT MATTER -->
		<add key="SlideRoomKey"					value="" />
		<add key="HelpExpiration" 				value="24"/>
		
		<!-- S3 settings -->
		<add key="BucketCAMobileApplicationStatus" 		value="ca.prod16.static-public/ExternalResource"/>
		<add key="BucketMemberInstructions" 			value="ca.prod16.static-private/member-instructions"/>
		<add key="BucketMobileHelpTopics" 				value="ca.prod16.static-private/MobileHelpTopics"/>
     	<add key="RecAnswersBucket" 					value="ca.prod16.answers-submitted-stage/rec"/>
    	<add key="BucketTempPreviewRec" 				value="ca.prod16.pdf-preview/rec"/>
    	<add key="BucketRecFormSubmission" 				value="ca.prod16.pdf-submitted/rec"/>
    		
		<!-- ElastiCache settings -->
		<add key="RedisPrimary" 				value="dbcache.private.prod16.commonapp.net"/>
		<add key="RedisDatabaseId" 				value ="2"/>
		<add key="ShortExpiration" 				value="1"/>
		<add key="LongExpiration" 				value="12"/>
		<add key="CacheKeyPrefix" 				value="house"/>
		<add key="ConnTimeout" 					value="300"/>
		<add key="CmdTimeout" 					value="180"/>
		
		<!-- CA URL settings -->
 		<add key="RecHelpUrl"                     		value="https://recsupport.commonapp.org/" />
 		<add key="RecLogInUrl" 							value="https://recommend.commonapp.org" />
 		<add key="InvitationForgotPasswordUrl" 			value="https://recommend.commonapp.org/forgot-password" />
 		<add key="InvitationEmailUpdatePasswordUrl" 	value="https://recommend.commonapp.org/RecAccount/Register" />
 		<add key="OptOutUrl" 							value="https://recommend.commonapp.org/RecAccount/RecOptOut" />
 		<add key="DeclineUrl" 							value="https://recommend.commonapp.org/RecAccount/RecDecline" />
 		<add key="SystemReqUrl" 						value="http://www.commonapp.org/system-requirements" />
 		<add key="RecSupportUrl" 						value="https://recsupport.commonapp.org" />
 		<add key="AppHelpUrl" 							value="https://appsupport.commonapp.org/"/>
		<add key="ParentEDFormUrl" 						value="https://recommend.commonapp.org/RecAccount/ParentED"/>
		<add key="ContentPath" 							value="https://apply.commonapp.org" />
	
     		<!-- Email config settings-->
 	  	<add key="SendFromEmailIdRec" 				value="The Common Application &lt;sfsupport@commonapp.net&gt;"/>
 	  	<add key="ReplyToEmailIdRec" 				value="sfsupport@commonapp.net"/>
     	<add key="BccEmailIdRec"            		value="sfsupportbcc@commonapp.net"/>
     	<add key="SendFromEmailIdApp" 				value="Common App &lt;appsupport@commonapp.net&gt;"/>
		<add key="ReplyToEmailIdApp" 				value="appsupport@commonapp.net"/>
    	<add key="BccEmailIdApp" 					value="appsupportbcc@commonapp.net"/>
     		
		<!-- SQS settings -->
    	<add key="RecSubmissionQueue" 				value="prod16-house-recsubmission"/>
    
        <!-- Cloud watch Start-->
		<add key="CloudWatchNameSpaceForSubmissionFailures" 	value="CA/Submission"/>
		<add key="CloudWatchNameSpaceForSubmissionSuccess" 		value="CA/Submission"/>
		<add key="RecFailureMetricName" 						value="Prod16SubmissionFailures"/>
    	<add key="RecSuccessMetricName" 						value="Prod16SubmissionSuccess"/>

  	</appSettings>

	<connectionStrings configSource="connstrings.config" />

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	      		<dependentAssembly>
	        		<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
	        		<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
	        		<bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	        		<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
	      		</dependentAssembly>
	      		<dependentAssembly>
	        		<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	        		<bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
	      		</dependentAssembly>
	      		<dependentAssembly>        
	      			<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	      			<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
	      		</dependentAssembly>
	    	</assemblyBinding>
  	</runtime>

	<system.webServer>
    		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      			<remove name="OPTIONSVerbHandler" />
      			<remove name="TRACEVerbHandler" />
      			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    		</handlers>
  	</system.webServer>

  </configuration>
