<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
		<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey"
				useMachineContainer="true"
				description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
				name="CAOProvider"
				type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

	<!-- Custom AppSettings stored in an external file -->
	<CAAppSettings configSource="appsettings.config" />

	<appSettings>

		<!-- General ASP.Net settings -->
		
		<add key="webpages:Version" 						value="3.0.0.0" />
		<add key="ClientValidationEnabled" 					value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" 			value="true"/>
		<add key="TempPatchForSortingByName" 				value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" 		value="150000" />

		<!-- General CA settings -->
		<add key="DeploymentChannel"						value="donkey" />
		<add key="SubSystem" 								value="Member" />
		<add key="AWSRegion" 								value="us-west-2"/>
		<add key="AWSLogging" 								value="log4net"/>
		<add key="SeasonStartDate" 							value="07/30/2016"/>
		<add key="SDSContactEmail" 							value="caohelp@commonapp.net"/>
		<add key="AppRuntimeEnvironment" 					value="prod" />

		<!-- CA URL settings -->
		<add key="ContentPath" 								value="https://apply.commonapp.org/"/>
		<add key="MemberLoginPageUrl" 						value="https://members.commonapp.org" />
		<add key="MemHelpUrl" 								value="https://membersupport.commonapp.org/link/portal/33012/33015/sso/1"/>
		<add key="MemHelpSsoUrl" 							value="https://membersupport.commonapp.org/link/portal/33012/33015/sso/1"/>

		<!-- S3 Bukets access information -->
		<add key="BucketMemberTemplate" 					value="ca.prod16.upload-perm/member/screen" />
		<add key="BucketMemberSupplement" 					value="ca.prod16.upload-perm/member/supplement" />
		<add key="BucketTempPreviewApp" 					value="ca.prod16.upload-temp/preview/app"/>
		<add key="BucketTempPreviewRec" 					value="ca.prod16.upload-temp/preview/rec"/>
		<add key="BucketCommonAppFormSubmission" 			value="ca.prod16.pdf-submitted/app" />
		<add key="BucketRecFormSubmission" 					value="ca.prod16.pdf-submitted/rec" />
		<add key="BucketMemberSds" 							value="ca.prod16.sds"/>
		<add key="BucketPublicFiles" 						value="ca.prod16.static-public" />
		<add key="BucketPrivateFiles" 						value="ca.prod16.static-private" />
		<add key="BucketSWFTemp" 							value="ca.prod16.swf-temp"/>

		<!-- CloudFront settings -->
    		<add key="CdnBucketPublicFiles" 				value="https://d2knvf3qgk8r0i.cloudfront.net" />

		<!-- ElastiCache settings -->
		<add key="CacheKeyPrefix" 							value="prod"/>
		<add key="RedisPrimary" 							value="session-state.private.prod16.commonapp.net"/>
		<add key="RedisDatabaseId" 							value ="4"/>
		<add key="ShortExpiration" 							value="6"/>

		<!-- Parature config settings -->
		<add key="ParatureInstanceId" 						value="CommonAppPassthrough"/>
		<add key="ParaturePartnerId" 						value="CommonAppPassthrough"/>
		<add key="ParatureSSOBaseUrl" 						value="https://sso.parature.com"/>
		<add key="ParatureMemberDownUrl" 					value="~/MemberSprtMaint.html"/>

		<!-- Batch / SWF -->
		<add key="SWFDomain" 								value="prod16.donkey.member"/>
		<add key="SWFTaskList" 								value ="Small-Tasks"/>
		<add key="SWFSmallExportWorkflow" 					value ="workflow.export.small"/>
		<add key="SWFLargeExportWorkflow" 					value ="workflow.export.large"/>
		<add key="SWFSmallPrintWorkflow" 					value ="workflow.print.small"/>
		<add key="SWFLargePrintWorkflow" 					value ="workflow.print.large"/>
		<add key="SWFSmallPrintWorkflowVersion" 			value ="2.0"/>
		<add key="SWFLargePrintWorkflowVersion" 			value ="2.0"/>
		<add key="SWFSmallExportWorkflowVersion" 			value ="2.0"/>
		<add key="SWFLargeExportWorkflowVersion" 			value ="2.0"/>
		<add key="PrintBatchSize" 							value="50"/>
		<add key="ExportMaxFieldsCount" 					value="100000"/>


		<add key="GoogleSampling" 							value="10"/>

		<!-- Footer Urls -->
		<add key="TermsOfUseUrl" 				value="https://www.commonapp.org/terms-of-use"/>
		<add key="PrivacyPolicyUrl" 				value="http://www.commonapp.org/privacy-policy"/>
		<add key="SystemRequirementsUrl" 			value="https://appsupport.commonapp.org/ics/support/KBAnswer.asp?questionID=27"/>
		<add key="LicenseUrl" 					value="https://www.commonapp.org/license-agreement"/>
		
		<!-- HIGHERONE Service config -->
		<add key="HIGHERONEWSURL" 							value="https://b2b.higherone.com/NetPayWebServices/PaymentDetailsSvc.asmx" />
		<add key="HIGHERONEWSSOAPAction" 					value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC/GetPaymentDetails" />
		<add key="HIGHERONEWSProductID" 					value="502" />
		<add key="HIGHERONEWSNameSpace" 					value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC" />
		<add key="HIGHERONEWSLogonToken" 					value="commonapp1" />
		<add key="HIGHERONEWSAuthInfo" 						value="CommonApp:Sa11ieMae" />

		<!-- TRUSTe links-->
		<add key="TRUSTeImgTall"   							value="//privacy-policy.truste.com/certified-seal/ctv/en/www.commonapp.org/seal_m.png"/>
		<add key="TRUSTeRid"       							value="901e8348-1fd6-46ef-855a-17aa00569ef3"/>
		<add key="TRUSTeAnchorUrl" 							value="//privacy.truste.com/privacy-seal/validation?rid="/>
		<add key="TRUSTeImgLong"   							value="//privacy-policy.truste.com/privacy-seal/seal?rid="/>
		<add key="TRUSTeScriptUrl" 							value="//privacy-policy.truste.com/privacy-seal/asc?rid="/>
		
		<!-- Member Data Catalog-->
		<add key="DataCatalogCompanionGuideUrl" 			value="http://membersupport.commonapp.org/FileManagement/Download/200d9fb3ad2048b4acde257d8f248dcd"/>
		<add key="DataCatalogCompanionGuideLabel" 			value="2016-17 Data Catalog Companion Guide (full list of changes to Data Catalog)"/>
		<add key="DataCatalogSummaryUrl" 					value="http://membersupport.commonapp.org/FileManagement/Download/b97bf77b50814cb8aa5e74fbfdb90be9"/>
		<add key="DataCatalogSummaryLabel" 					value="2016-17 Data Catalog Summary of Changes"/>
	</appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.6.1" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<authentication mode="Forms">
			<forms name="CA_MEM_AUTH" loginUrl="~/Account/LogOn" defaultUrl="~/Home" timeout="62" cookieless="UseCookies" requireSSL="false" />
		</authentication>
		<sessionState timeout="62" mode="Custom" cookieName="CA_MEM_SESS" customProvider="RedisSessionStateStore">
			<providers>
				<add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider"
					ssl="false"
					host="session-state.private.prod16.commonapp.net"
					applicationName = "Member"
					databaseId = "2"
					connectionTimeoutInMilliseconds = "5000"
					operationTimeoutInMilliseconds = "1000"
					retryTimeoutInMilliseconds = "3000"/>
			</providers>
		</sessionState>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<machineKey configSource="machinekey.config"/>
	</system.web>

	<system.webServer>
	   	<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
				modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
				preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
				modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
				preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0"  path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
				type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    	</handlers>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="401" 	subStatusCode="-1"/>
			<error statusCode="401" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="403" 	subStatusCode="-1"/>
			<error statusCode="403" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="404" 	subStatusCode="-1"/>
			<error statusCode="404" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="405" 	subStatusCode="-1"/>
			<error statusCode="405" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="406" 	subStatusCode="-1"/>
			<error statusCode="406" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="412"	subStatusCode="-1"/>
			<error statusCode="412" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="500" 	subStatusCode="-1"/>
			<error statusCode="500" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="501" 	subStatusCode="-1"/>
			<error statusCode="501" 	path="/error.html" responseMode="ExecuteURL" />
			<remove statusCode="502" 	subStatusCode="-1"/>
			<error statusCode="502" 	path="/error.html" responseMode="ExecuteURL" />
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
						<add input="{REMOTE_HOST}" pattern="localhost" negate="true" />
						<add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
						<add input="{HTTP_HOST}" pattern="\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
         			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
       				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="httpUserToken" type="ServiceBehaviour.HttpUserTokenBehaviorExtensionElement, ServiceBehaviour, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="LegacyServiceEndpointBehavior">
					<httpUserToken userToken="Default User token" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAuthenticationService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IMemberProfileService" closeTimeout="00:20:00"
						openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:20:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
						textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
						messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="98192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IMemberScreenDataService" closeTimeout="00:10:00"
						 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
						 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
						 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="524288" maxBytesPerRead="524288" maxNameTableCharCount="524288" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IDataCatalogService" closeTimeout="00:05:00"
						openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
						 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
						 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="98192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IChoiceGroupService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxBufferSize="524288" maxReceivedMessageSize="524288"
						textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
						messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IRequirementGroupService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IRequirementRuleService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IAddAnotherGrpService" closeTimeout="00:01:00"
				 		openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 		allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 		maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 		messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 		useDefaultWebProxy="true">
			  		<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  		<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
				  		realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
			  		</security>
		   		</binding>
				<binding name="BasicHttpBinding_ISearchService1" closeTimeout="00:01:00"
					   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					   maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
					   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					   useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ICommonService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ILookupService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IExportService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="2097152" maxBufferPoolSize="524288" maxReceivedMessageSize="2097152"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IMemberService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ISDSService" closeTimeout="00:01:00"
						  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						  maxBufferSize="2097152" maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
						  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IHistoryService" closeTimeout="00:01:00"
						 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
						 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IApplicantService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          				<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          				<security mode="None">
            				<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            				<message clientCredentialType="UserName" algorithmSuite="Default" />
          				</security>
        			</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService" contract="AuthenticationServiceRef.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/AddAnotherGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddAnotherGrpService" contract="AddAnotherGrpServiceRef.IAddAnotherGrpService" name="BasicHttpBinding_IAddAnotherGrpService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/ChoiceGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChoiceGroupService" contract="ChoiceGroupServiceRef.IChoiceGroupService" name="BasicHttpBinding_IChoiceGroupService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonServiceRef.ICommonService" name="BasicHttpBinding_ICommonService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/DataCatalogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCatalogService" contract="DataCatalogServiceRef.IDataCatalogService" name="BasicHttpBinding_IDataCatalogService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/ExportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExportService" contract="ExportServiceRef.IExportService" name="BasicHttpBinding_IExportService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/HistoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoryService" contract="HistoryServiceRef.IHistoryService" name="BasicHttpBinding_IHistoryService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/LookupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILookupService" contract="LookupServiceRef.ILookupService" name="BasicHttpBinding_ILookupService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberProfileService" contract="MemberProfileServiceRef.IMemberProfileService" name="BasicHttpBinding_IMemberProfileService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberScreenDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberScreenDataService" contract="MemberScreenDataServiceRef.IMemberScreenDataService" name="BasicHttpBinding_IMemberScreenDataService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService" contract="MemberServiceRef.IMemberService" name="BasicHttpBinding_IMemberService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/RequirementGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequirementGroupService" contract="ReqGroupServiceRef.IRequirementGroupService" name="BasicHttpBinding_IRequirementGroupService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/RequirementRuleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequirementRuleService" contract="ReqRuleServiceRef.IRequirementRuleService" name="BasicHttpBinding_IRequirementRuleService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/SDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDSService" contract="SDSServiceRef.ISDSService" name="BasicHttpBinding_ISDSService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/SearchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService1" contract="SearchServiceRef.ISearchService" name="BasicHttpBinding_ISearchService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
			<endpoint address="http://donkey-logic.private.prod16.commonapp.net/ApplicantService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService"  contract="ApplicantServiceRef.IApplicantService" name="BasicHttpBinding_IApplicantService" />
		</client>
	</system.serviceModel>
</configuration>
