<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  
  <rebus inputQueue="prod16-elephant-appsubmission" errorQueue="prod16-appsubmissionerror" workers="1" />
  
  <configProtectedData>
    <providers>
      <add keyContainerName="CAOKey"
           useMachineContainer="true"
           description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
           name="CAOProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  
  
  <appSettings>
    <!-- General CA settings -->
    <add key="timerInterval" 						value="60000" />
    <add key="AWSRegion" 							value="us-west-2" />
    <add key="SWFDomain" 							value="prod16.elephant.sds" />
    <add key="ServiceName" 							value="CA_ScheduledDeliveryService-Elephant"/>
    <add key="DisplayName" 							value="CA SDS Scheduler - Elephant"/>
    <add key="ServiceDescription" 					value="Scheduler for SDS tasks"/>
    <add key="SWFTaskList" 							value="Large-Tasks" />
    <add key="AWSNoOfRetries" 						value="5" />
    <add key="SubSystem" 							value="App" />
	
    <!-- S3 settings -->
    <add key="BucketTempRawApp" 					value="ca.prod16.upload-temp/raw/app" />
    <add key="BucketTempRawRec" 					value="ca.prod16.upload-temp/raw/rec" />
    <add key="BucketTempConvApp" 					value="ca.prod16.upload-temp/converted/app" />
    <add key="BucketTempConvRec" 					value="ca.prod16.upload-temp/converted/rec" />
    <add key="BucketUploadCommon" 					value="ca.prod16.upload-perm/answers/app/common" />
    <add key="BucketUploadMember" 					value="ca.prod16.upload-perm/answers/app/member" />
    <add key="BucketUploadRecProfile" 				value="ca.prod16.upload-perm/answers/rec/profile" />
    <add key="BucketUploadRecForm" 					value="ca.prod16.upload-perm/answers/rec/form" />
    <add key="BucketMemberTemplate" 				value="ca.prod16.upload-perm/member/screen" />
    <add key="BucketMemberSupplement" 				value="ca.prod16.upload-perm/member/supplement" />
    <add key="BucketCommonAppFormSubmission" 		value="ca.prod16.pdf-submitted/app" />
    <add key="BucketRecFormSubmission" 				value="ca.prod16.pdf-submitted/rec" />
    <add key="BucketMemberSds" 						value="ca.prod16.sds" />
    <add key="BucketSWFTemp" 						value="ca.prod16.swf-temp" />
	
    <!-- Dynamo settings --> 
    <add key="TableNamePrefix" 						value="Prod16" />
	
    <!-- ElastiCache settings -->
    <add key="CacheKeyPrefix" 						value="prod" />
    <add key="RedisPrimary" 						value="dbcache.private.prod16.commonapp.net" />
    <add key="RedisDatabaseId" 						value="0" />
    <add key="ShortExpiration" 						value="6" />
    <add key="LongExpiration" 						value="24" />
    <add key="ConnTimeout" 							value="300" />
    <add key="CmdTimeout" 							value="180" />
	
    <!-- MySql Connections -->
    <add key="defaultConnection" 					value="MySqlConnection" />
    <add key="connectionProvider" 					value="MySql" />
    <add key="defaultMemberConnection" 				value="MySqlMemberConnection" />
    <add key="memberConnectionProvider" 			value="MySql" />
    <add key="readReplicaConnection" 				value="MySqlReadReplicaConnection" />
    <add key="readReplicaConnectionProvider" 		value="MySql" />
    
    <!-- SWF Activity-->
    <add key="GetDataForPrint" 						value="activity.print.get-data"/>
    <add key="BatchPrint" 							value="activity.print.batch"/>
    <add key="MarkAsPrinted" 						value="activity.print.mark-date"/>
    <add key="CompressPrintFiles" 					value="activity.print.compress-files"/>
    <add key="EncryptPrintFiles" 					value="activity.print.encrypt-files"/>
    <add key="CreatePrintHistory" 					value="activity.print.create-history"/>
    <add key="CopyPrintFileToPermanentLocation" 	value="activity.print.copy-to-perm"/>
    <add key="CopyPrintFileToFtp" 					value="activity.print.copy-to-ftp"/>
    <add key="CleanupPrint" 						value="activity.print.cleanup"/>
    <add key="GetDataForExport" 					value="activity.export.get-data"/>
    <add key="BatchExport" 							value="activity.export.batch"/>
    <add key="CreateExportHistory" 					value="activity.export.create-history"/>
    <add key="MarkAsExported" 						value="activity.export.mark-date"/>
    <add key="EncryptExportFiles" 					value="activity.export.encrypt-files"/>
    <add key="CopyExportFileToPermanentLocation" 	value="activity.export.copy-to-perm"/>
    <add key="CopyExportFileToFtp" 					value="activity.export.copy-to-ftp"/>
    <add key="CleanupExport" 						value="activity.export.cleanup"/>
    
    <add key="SWFSmallPrintWorkflowVersion" 		value="2.0" />
    <add key="SWFLargePrintWorkflowVersion" 		value="2.0" />
    <add key="SWFSmallExportWorkflowVersion" 		value="2.0" />
    <add key="SWFLargeExportWorkflowVersion" 		value="2.0" />

    <add key="SWFSmallExportWorkflow" 				value="workflow.export.small" />
    <add key="SWFLargeExportWorkflow" 				value="workflow.export.large" />
    <add key="SWFSmallPrintWorkflow" 				value="workflow.print.small" />
    <add key="SWFLargePrintWorkflow" 				value="workflow.print.large" />
    
    <!--SWF Activity Large Print work flow configs - Version,ScheduleToCloseTimeout,ScheduleToStartTimeout,StartToCloseTimeout -->
    <add key="LargePrintGetDataForPrintConfig" 						value="1.0,21600,3000,3000" />
    <add key="LargePrintBatchPrintConfig" 							value="1.0,21600,21600,21600" />
    <add key="LargePrintCompressPrintFilesConfig" 					value="1.0,21600,21600,21600" />
    <add key="LargePrintEncryptPrintFilesConfig" 					value="1.0,21600,21600,21600" />
    <add key="LargePrintCreatePrintHistoryConfig" 					value="1.0,21600,3000,3000" />
    <add key="LargePrintCopyPrintFileToPermanentLocationConfig" 	value="1.0,21600,3000,3000" />
    <add key="LargePrintMarkAsPrintedConfig" 						value="1.0,21600,3000,3000" />
    <add key="LargePrintCopyPrintFileToFtpConfig" 					value="1.0,21600,3000,3000" />
    <add key="LargePrintCleanupPrintConfig" 						value="1.0,21600,3000,3000" />
    
    <!--SWF Activity Large Export work flow configs - Version,ScheduleToCloseTimeout,ScheduleToStartTimeout,StartToCloseTimeout -->
    <add key="LargeExportGetDataForExportConfig" 					value="1.0,21600,3000,3000" />
    <add key="LargeExportBatchExportConfig" 						value="1.0,21600,21600,21600" />
    <add key="LargeExportCompressPrintFilesConfig" 					value="1.0,21600,21600,21600" />
    <add key="LargeExportEncryptExportFilesConfig" 					value="1.0,21600,21600,21600" />
    <add key="LargeExportCreateExportHistoryConfig" 				value="1.0,21600,3000,3000" />
    <add key="LargeExportCopyExportFileToPermanentLocationConfig" 	value="1.0,21600,3000,3000" />
    <add key="LargeExportMarkAsExportedConfig" 						value="1.0,21600,3000,3000" />
    <add key="LargeExportCopyExportFileToFtpConfig" 				value="1.0,21600,3000,3000" />
    <add key="LargeExportCleanupExportConfig" 						value="1.0,21600,3000,3000" />
  
    <!-- Email config -->
    <add key="SendFromEmailId" 							value="cacloudadmin@commonapp.net" />
    <add key="ReplyToEmailId" 							value="cacloudadmin@commonapp.net" />
    <add key="SendFromEmailIdApp" 						value="appsupport@commonapp.net" />
    <add key="ReplyToEmailIdApp" 						value="appsupport@commonapp.net" />
    <add key="SendFromEmailIdRec" 						value="sfsupport@commonapp.net" />
    <add key="ReplyToEmailIdRec" 						value="sfsupport@commonapp.net" />
    <add key="SendFromEmailIdMember" 					value="caohelp@commonapp.net" />
    <add key="ReplyToEmailIdMember" 					value="caohelp@commonapp.net" />
    <add key="TechSupportEmailAddress" 					value="amit.kumar@hobsons.com" />

    <!-- Eastern Standard Time,  Pacific Standard Time,  US Mountain Standard Time,Mountain Standard Time,
      US Eastern Standard Time,Coordinated Universal Time, GMT Standard Time,Greenwich Standard Time-->
    <add key="SDSTimeZone" 								value="Eastern Standard Time" />
  </appSettings>
  
  <connectionStrings configSource="connstrings.config" />
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <!--<system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_ISDSService" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://utility-logic.private.prod16.commonapp.net/SDSService.svc" binding="basicHttpBinding" 
            bindingConfiguration="BasicHttpBinding_ISDSService" contract="SDSServiceRef.ISDSService"
            name="BasicHttpBinding_ISDSService" />
    </client>
  </system.serviceModel>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <!-- BEGIN: Added by PostSharp -->
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.1.43.9" newVersion="3.1.43.9" />
      </dependentAssembly>
      <!-- END: Added by PostSharp -->
    </assemblyBinding>
  </runtime>
</configuration>
