<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
		<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<rebus inputQueue="prod16-elephant-recsubmission" errorQueue="prod16-recsubmissionerror" workers="5" maxRetries="2" />

	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider"
			type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

	<!-- Custom AppSettings stored in an external file -->
	<CAAppSettings configSource="appsettings.config" />
	
	<appSettings>
		<!-- CA General settings -->
		<add key="DeploymentChannel"					value="elephant" />
		<add key="AWSRegion" 							value="us-west-2" />
		<add key="ServiceName" 							value="RecSubmissionMessageProcessor" />
		<add key="DisplayName" 							value="CA Rec Submission Message Processor" />
		<add key="ServiceDescription" 					value="Listens for Recommender submssion messages on Amazon SQS and processes them." />
		<add key="AppRuntimeEnvironment" 				value="prod" />

		<!-- CA URL settings -->
		<add key="ContentPath" 							value="https://apply.commonapp.org" />

		<!--MySql Connection settings -->
		<add key="defaultConnection" 					value="MySqlConnection" />
		<add key="connectionProvider" 					value="MySql" />
		<add key="defaultMemberConnection" 				value="MySqlMemberConnection" />
		<add key="memberConnectionProvider" 			value="MySql" />
		<add key="readReplicaConnection" 				value="MySqlReadReplicaConnection" />
		<add key="readReplicaConnectionProvider" 		value="MySql" />
		<add key="ConnTimeout" 							value="300" />
		<add key="CmdTimeout" 							value="180" />

		<!-- Transaction Isolation settings -->
		<add key="RecSubmissionTransactionIsolation" 	value="ReadCommitted" />

		<!-- S3 settings -->
		<add key="AppAnswersBucket" 				value="ca.prod16.answers-submitted-stage/app" />
		<add key="RecAnswersBucket" 				value="ca.prod16.answers-submitted-stage/rec" />
		<add key="BucketRecFormSubmission" 			value="ca.prod16.pdf-submitted/rec" />

		<!-- DynamoDB settings -->
		<add key="TableNamePrefix" 				value="Prod16" />

		<!-- ElastiCache settings -->
		<add key="RedisPrimary" 				value="dbcache.private.prod16.commonapp.net"/>
		<!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
		<add key="RedisDatabaseId" 				value ="0"/>
		<add key="ShortExpiration" 				value="6" />
		<add key="LongExpiration" 				value="24" />

		<!-- CloudWatch settings -->
    	<add key="CloudWatchNameSpaceForSubmissionFailures" 	value="CA/Submission" />
	 	<add key="CloudWatchNameSpaceForSubmissionSuccess" 		value="CA/Submission" />
	 	<add key="AppFailureMetricName" 						value="Prod16SubmissionFailures" />
		<add key="AppSuccessMetricName" 						value="Prod16SubmissionSuccess" />
    	<add key="RecFailureMetricName" 						value="Prod16SubmissionFailures" />
    	<add key="RecSuccessMetricName" 						value="Prod16SubmissionSuccess" />
	</appSettings>

	<connectionStrings configSource="connstrings.config" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	
	<runtime>
    		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      			<dependentAssembly>
        			<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      			</dependentAssembly>
    		</assemblyBinding>
  	</runtime>

</configuration>
