<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppDynamicsAgent" type="AppDynamics.Agent.Config.Section, AppDynamics.Agent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3f604d9e4f8e4985" allowLocation="true" allowDefinition="Everywhere" />
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    <section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
  </configProtectedData>
   
  <rebus>
    <endpoints>
      <add messages="CommonApp.Cloud.Services.DataTransferObjects" endpoint=""/>
    </endpoints>
  </rebus>

  <!-- Custom AppSettings stored in an external file -->
  <CAAppSettings configSource="appsettings.config" />

  <appSettings>
	<!-- General CA settings -->
	<add key="SubSystem" 									value="App" />
	<add key="ResetPasswordLinkExpiry" 						value="24"/>
	<add key="TempDataCatalogPath" 							value="c:\temp" />
	<add key="AWSNoOfRetries" 								value="5" />
	<add key="GeneratePdfWithMultiThread" 					value="false" />
	<add key="AWSLogging" 									value="log4net"/>
	<add key="InvitationEmailUpdatePasswordLinkExpiry" 		value="2160"/>
	<add key ="AWSRegion"									value="us-west-2"/>
	<add key="UploadQuestionIdsToShrink" 					value="237,1248,1286,1287,1288,1289,1327,1354,1380,1797"/>
	<add key="UseMultiThreadForPrintPreview"				value="false" />
	
	<!-- CA URL settings -->
	<add key="ContentPath" 									value="https://apply.commonapp.org"/>
	<add key="AppHelpUrl" 									value="https://appsupport.commonapp.org/"/>
	<add key="RecHelpUrl" 									value="https://recsupport.commonapp.org/"/>
	<add key="MemHelpUrl" 									value="https://membersupport.commonapp.org/"/>

	<!-- MySql connection settings -->
	<add key="defaultConnection" 							value="MySqlConnection"/>
	<add key="connectionProvider" 							value="MySql"/>
	<add key="defaultMemberConnection" 						value="MySqlMemberConnection"/>
	<add key="memberConnectionProvider" 					value="MySql"/>
	<add key="readReplicaConnection" 						value="MySqlReadReplicaConnection"/>
	<add key="readReplicaConnectionProvider" 				value="MySql"/>
	<add key="ConnTimeout" 									value="300"/>
	<add key="CmdTimeout" 									value="180"/>


	<!-- Email config settings-->
	<add key="SendFromEmailId" 								value="appsupport@commonapp.net"/>
	<add key="ReplyToEmailId" 								value="appsupport@commonapp.net"/>
	<add key="TechSupportEmailAddress" 						value="caproductsupport@commonapp.org"/>
	<add key="SendFromEmailIdApp" 							value="appsupport@commonapp.net"/>
	<add key="ReplyToEmailIdApp" 							value="appsupport@commonapp.net"/>
	<add key="SendFromEmailIdRec" 							value="sfsupport@commonapp.net"/>
	<add key="ReplyToEmailIdRec" 							value="sfsupport@commonapp.net"/>
	<add key="SendFromEmailIdMember" 						value="caohelp@commonapp.net"/>
	<add key="ReplyToEmailIdMember" 						value="caohelp@commonapp.net"/>
	<add key="MediaEmailAddress" 							value="media@commonapp.org" />
	<add key="BccEmailIdApp"            					value="appsupportbcc@commonapp.net"/>
	<add key="BccEmailIdMember"         					value="caohelpbcc@commonapp.net"/>
	<add key="BccEmailIdRec"            					value="sfsupportbcc@commonapp.net"/>

	<!-- Transaction Isolations -->
	<add key="AppSubmissionTransactionIsolation" 			value="ReadCommitted"/>
	<add key="AppSubmissionTransactionIsolation" 			value="ReadCommitted"/>
	<add key="AppRegistrationTransactionIsolation" 			value="ReadCommitted"/>
	<add key="RecSubmissionTransactionIsolation" 			value="ReadCommitted" />
	<add key="SaveAnswerTransactionIsolation" 				value="ReadCommitted"/>
	<add key="AddMyCollegeTransactionIsolation" 			value="ReadCommitted"/>

	<!-- S3 settings -->
	<add key="BucketTempRawApp" 							value="ca.prod16.upload-temp/raw/app"/>
	<add key="BucketTempRawRec" 							value="ca.prod16.upload-temp/raw/rec"/>
	<add key="BucketTempConvApp" 							value="ca.prod16.upload-temp/converted/app"/>
	<add key="BucketTempConvRec" 							value="ca.prod16.upload-temp/converted/rec"/>
	<add key="BucketUploadCommon" 							value="ca.prod16.upload-perm/answers/app/common" />
	<add key="BucketUploadMember" 							value="ca.prod16.upload-perm/answers/app/member" />
	<add key="BucketUploadRecProfile" 						value="ca.prod16.upload-perm/answers/rec/profile" />
	<add key="BucketUploadRecForm" 							value="ca.prod16.upload-perm/answers/rec/form" />
	<add key="BucketMemberTemplate" 						value="ca.prod16.upload-perm/member/screen" />
	<add key="BucketMemberSupplement" 						value="ca.prod16.upload-perm/member/supplement" />
	<add key="BucketCommonAppFormSubmission" 				value="ca.prod16.pdf-submitted/app" />
	<add key="BucketRecFormSubmission" 						value="ca.prod16.pdf-submitted/rec" />
	<add key="BucketMemberSds" 								value="ca.prod16.sds"/>
	<add key="BucketSWFTemp" 								value="ca.prod16.swf-temp"/>
	<add key="AppAnswersBucket" 							value="ca.prod16.answers-submitted-stage/app" />
	<add key="RecAnswersBucket" 							value="ca.prod16.answers-submitted-stage/rec" />
	<add key="BucketTempPreviewApp" 						value="ca.prod16.pdf-preview/app" />
	<add key="BucketTempPreviewRec" 						value="ca.prod16.pdf-preview/rec" />
	<add key="BucketDefaultScreenStatusVersion" 			value="ca.prod16.default-screen-status-versions"/>
	<add key="BucketMemberInstructionsFiles" 				value="ca.prod16.static-private/member-instructions"/>
	<add key="BucketPublicFiles" 							value="ca.prod16.static-public"/>

	<!-- CloudFront settings -->
	<add key="CDNDistributionId" 							value="EDP7QGJXMP4VM" />

	<!-- DynamoDB settings -->
	<add key="TableNamePrefix" 								value="Prod16" />

	<!-- ElastiCache settings -->
	<!-- Environment variable to depict dev/ alpha / delta / Prod environment -->
    <add key="AppRuntimeEnvironment" 						value="prod"/>
	<add key="ShortExpiration" 								value="1"/>
	<add key="LongExpiration" 								value="6"/>
	<add key="HelpExpiration" 								value="24"/>
	<add key="RedisPrimary" 								value="dbcache.private.prod16.commonapp.net"/>
	<add key="RedisDatabaseId" 								value ="0"/>

	<!-- CloudWatch settings -->
	<add key="CloudWatchNameSpaceForSubmissionFailures" 	value="CA/Submission" />
	<add key="CloudWatchNameSpaceForSubmissionSuccess" 		value="CA/Submission" />
	<add key="AppFailureMetricName" 						value="Prod16SubmissionFailures" />
	<add key="AppSuccessMetricName" 						value="Prod16SubmissionSuccess" />
	<add key="RecFailureMetricName" 						value="Prod16SubmissionFailures" />
	<add key="RecSuccessMetricName" 						value="Prod16SubmissionSuccess" />

	<!-- Used by AmazonSQSConfig to configure SQS -->
	<add key="ServiceName" 									value="CA_PDFRegenService-Elephant" />
	<add key="DisplayName"									value="CA_PDFRegenService - Elephant"/>
	<add key="ServiceDescription" 							value="PDF regen service" />
	<add key="timerInterval" 								value="6000" />
	<add key="delayBetweenJobInSeconds" 					value="1" />
  </appSettings>
  
  <connectionStrings configSource="connstrings.config" />
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- BEGIN: Added by PostSharp -->
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.1.43.9" newVersion="3.1.43.9" />
      </dependentAssembly>
      <!-- END: Added by PostSharp -->
           <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
