<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
   
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
        </DbProviderFactories>
    </system.data>
	
	<connectionStrings configSource="connstrings.config" />
	
    <appSettings>
        <add key="CommandTimeOut" 					value="280" />
        <add key="GCLIENT_ID" 						value= "605616147043-pgs4cdiq7ng1ierr1kp5lpcg9ac4faa6.apps.googleusercontent.com" />
        <add key="GCLIENT_SECRET" 					value="CuOGDiBm0ICmO_DC6zB9NjmR" />
        <add key="GSCOPE" 							value="https://spreadsheets.google.com/feeds" />
        <add key="GREDIRECT_URI" 					value="urn:ietf:wg:oauth:2.0:oob" />
        <add key="GPROJECT_NAME" 					value="Invitation Deleter" />
        <add key="GKEY" 							value="1qLifxPZGzLN6u_rt-QneLP9R1Qga61tzHvMMIhgvYqg" />
        <add key="GUSER_NAME" 						value="605616147043-rpmbcujfhe76hmdclhspgu5pnc0v70s3@developer.gserviceaccount.com" />
        <add key="GPASSWORD" 						value="notasecret" />
    </appSettings>
</configuration>
