<appSettings>
	<!-- External config file used by app, rec and member tiers -->
	
    <!-- General settings -->
    <add key="DeploymentChannel"							value="donkey" />
    <!-- LogicHostName is used to dynamically substitue the dummy hostname logic-host in service endpoint configuration -->
    <add key="LogicHostName"								value="donkey-logic.private.prod17.commonapp.net" />
    
    <!-- SWF Settings -->
    <add key="SWFDomain"									value="prod17.donkey.member" />
</appSettings>
