<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
		<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider"
				type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

	<!-- Custom AppSettings stored in an external file -->
	<CAAppSettings configSource="appsettings.config" />

	<appSettings>
		<!-- General CA settings -->
		<add key="DeploymentChannel"					value="donkey" />
		<add key="SubSystem" 							value="App" />
		<add key ="AWSRegion" 							value="us-west-2"/>
		<add key="ConnTimeout" 							value="300"/>
		<add key="CmdTimeout" 							value="180"/>
		<add key="TempDataCatalogPath" 					value="c:\temp" />
		<add key="AWSNoOfRetries" 						value="5" />
		<add key="GeneratePdfWithMultiThread" 			value="false" />
		<add key="AWSLogging" 							value="log4net"/>
		<add key="ServiceName"							value="AppSubmissionMessageProcessor" />
		<add key="ServiceDescription" 					value="Listens for Application submssion messages on Amazon SQS and processes them." />
	    <add key="DisplayName" 							value="CA App Submission Message Processor" />
	    <add key="AppRuntimeEnvironment" 				value="prod" />

		<!--MySql Connection settings -->
		<add key="defaultConnection" 					value="MySqlConnection"/>
		<add key="connectionProvider" 					value="MySql"/>
		<add key="defaultMemberConnection" 				value="MySqlMemberConnection"/>
		<add key="memberConnectionProvider" 			value="MySql"/>
		<add key="readReplicaConnection" 				value="MySqlReadReplicaConnection"/>
		<add key="readReplicaConnectionProvider" 		value="MySql"/>

		<!-- Transaction Isolation settings -->
		<add key="AppSubmissionTransactionIsolation" 		value="ReadCommitted"/>
		<add key="RecSubmissionTransactionIsolation"		value="ReadCommitted" />

		<!-- S3 settings -->
		<add key="BucketTempRawApp" 					value="ca.prod16.upload-temp/raw/app"/>
		<add key="BucketTempRawRec" 					value="ca.prod16.upload-temp/raw/rec"/>
		<add key="BucketTempConvApp" 					value="ca.prod16.upload-temp/converted/app"/>
		<add key="BucketTempConvRec" 					value="ca.prod16.upload-temp/converted/rec"/>
		<add key="BucketUploadCommon" 					value="ca.prod16.upload-perm/answers/app/common" />
		<add key="BucketUploadMember" 					value="ca.prod16.upload-perm/answers/app/member" />
		<add key="BucketUploadRecProfile" 				value="ca.prod16.upload-perm/answers/rec/profile" />
		<add key="BucketUploadRecForm" 					value="ca.prod16.upload-perm/answers/rec/form" />
		<add key="BucketMemberTemplate" 				value="ca.prod16.upload-perm/member/screen" />
		<add key="BucketMemberSupplement" 				value="ca.prod16.upload-perm/member/supplement" />
		<add key="BucketCommonAppFormSubmission" 		value="ca.prod16.pdf-submitted/app" />
		<add key="BucketRecFormSubmission" 				value="ca.prod16.pdf-submitted/rec" />
		<add key="BucketMemberSds" 						value="ca.prod16.sds"/>
		<add key="BucketSWFTemp" 						value="ca.prod16.swf-temp"/>
		<add key="AppAnswersBucket" 					value="ca.prod16.answers-submitted-stage/app" />
		<add key="RecAnswersBucket" 					value="ca.prod16.answers-submitted-stage/rec" />
		<add key="BucketTempPreviewApp" 				value="ca.prod16.pdf-preview/app" />
		<add key="BucketTempPreviewRec" 				value="ca.prod16.pdf-preview/rec" />
		<add key="BucketDefaultScreenStatusVersion" 	value="ca.prod16.default-screen-status-versions"/>

		<!-- DynamoDB settings -->
		<add key="TableNamePrefix" 						value="Prod16" />

		<!-- ElastiCache settings -->
		<add key="RedisPrimary" 						value="no_db_cache"/>
		<!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
		<add key="RedisDatabaseId" 						value ="1"/>
		<add key="ShortExpiration" 						value="6" />
		<add key="LongExpiration" 						value="24" />

		<!-- CloudWatch settings -->
		<add key="CloudWatchNameSpaceForSubmissionFailures"		 	value="CA/Submission" />
		<add key="CloudWatchNameSpaceForSubmissionSuccess" 			value="CA/Submission" />
		<add key="AppFailureMetricName" 							value="Prod16SubmissionFailures" />
		<add key="AppSuccessMetricName" 							value="Prod16SubmissionSuccess" />
		<add key="RecFailureMetricName" 							value="Prod16SubmissionFailures" />
		<add key="RecSuccessMetricName" 							value="Prod16SubmissionSuccess" />

		<!-- SQS settings -->
		<add key="RecSubmissionQueue" 					value="prod16-donkey-recsubmission" />
	</appSettings>

	<connectionStrings configSource="connstrings.config" />

	<rebus inputQueue="prod16-donkey-appsubmission" errorQueue="prod16-appsubmissionerror" workers="5" maxRetries="2" />
	
	<startup>
    		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  	</startup>
  	<runtime>
    		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      			<dependentAssembly>
        			<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        			<bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      			</dependentAssembly>
    		</assemblyBinding>
  	</runtime>

</configuration>
