<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<p1:sample1 xmlns:p1="http://www.example.org/eHorizon">
   <p1:time nTimestamp="5">
      <p1:location hours = "1" path = '1'>
         <p1:feature color="20" type="a">830</p1:feature>
         <p1:feature color="20" type="a">564</p1:feature>
         <p1:feature color="20" type="b">570</p1:feature>
         <p1:feature color="20" type="c">570</p1:feature>
      </p1:location>
      <p1:location hours = "5" path = '1'>
         <p1:feature color="6" type="a">560</p1:feature>
         <p1:feature color="7" type="b">570</p1:feature>
         <p1:feature color="24" type="c">580</p1:feature>
      </p1:location>
      <p1:location hours = "5" path = '1'>
         <p1:feature color="9" type="b">1111</p1:feature>
         <p1:feature color="10" type="c">2222</p1:feature>
      </p1:location>
   </p1:time>
   <p1:time nTimestamp="6">
      <p1:location hours = "1" path = '1'>
         <p1:feature color="2" type="a">564</p1:feature>
         <p1:feature color="3" type="b">570</p1:feature>
         <p1:feature color="4" type="c">570</p1:feature>
      </p1:location>
      <p1:location hours = "5" path = '1'>
         <p1:feature color="6" type="a">560</p1:feature>
         <p1:feature color="9" type="b">590</p1:feature>
         <p1:feature color="10" type="c">600</p1:feature>
      </p1:location>
      <p1:location hours = "5" path = '1'>
         <p1:feature color="6" type="a">560</p1:feature>
         <p1:feature color="7" type="b">570</p1:feature>
         <p1:feature color="8" type="c">580</p1:feature>
      </p1:location>
   </p1:time>
</p1:sample1>
