<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	  <configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>
	
  <connectionStrings configSource="connstrings.config" />	
	
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
        </DbProviderFactories>
    </system.data>
    <appSettings>
        <add key="email" 					value="appsupport@commonapp.net"/>
        <add key="recipientemail" 			value="rthompson@commonapp.org"/>
        <add key="ccemail" 					value="caproductsupport@commonapp.org"/>
        <add key="AWSNoRetries" 			value="5"/>
        <add key="AWSRegion" 				value="us-west-2" />
    </appSettings>
</configuration>
