<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
		<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

	<!-- Custom AppSettings stored in an external file -->
	<CAAppSettings configSource="appsettings.config" />

  	<appSettings>
 		<!-- General CA settings -->
		<add key="DeploymentChannel"						value="elephant" />
		<add key="PasswordHashIterationCount" 				value="10251"/>
		<add key="SubSystem" 								value="App" />
		<add key="ResetPasswordLinkExpiry" 					value="24"/>
		<add key="TempDataCatalogPath" 						value="c:\temp" />
		<add key="AWSNoOfRetries" 							value="5" />
		<add key="GeneratePdfWithMultiThread" 				value="false" />
		<add key="AWSLogging" 								value="log4net"/>
		<add key="InvitationEmailUpdatePasswordLinkExpiry" 	value="2160"/>
    	<add key ="AWSRegion"								value="us-west-2"/>
		<add key="UploadQuestionIdsToShrink" 				value="237,1248,1286,1287,1288,1289,1327,1354,1380,1797"/>
		<add key="UseMultiThreadForPrintPreview"			value="false" />
		<add key="AppRuntimeEnvironment" 					value="prod" />
		<add key="SendEmailFromLogic" 						value="true"/>
		<add key="SendToCredentialsDb" 					value="true" />

		<!-- CA URL settings -->
		<add key="ContentPath" 						value="https://apply.commonapp.org"/>
    	<add key="AppHelpUrl" 						value="https://appsupport.commonapp.org/"/>
    	<add key="RecHelpUrl" 						value="https://recsupport.commonapp.org/"/>
    	<add key="MemHelpUrl" 						value="https://membersupport.commonapp.org/"/>

		<!-- MySql connection settings -->
		<add key="defaultConnection" 				value="MySqlConnection"/>
		<add key="connectionProvider" 				value="MySql"/>
		<add key="defaultMemberConnection" 			value="MySqlMemberConnection"/>
		<add key="memberConnectionProvider" 		value="MySql"/>
		<add key="readReplicaConnection" 			value="MySqlReadReplicaConnection"/>
		<add key="readReplicaConnectionProvider" 	value="MySql"/>
		<add key="authConnection" 					value="MySqlAuthConnection"/>
		<add key="authConnectionProvider" 			value="MySql"/>
		<add key="ConnTimeout" 						value="300"/>
    	<add key="CmdTimeout" 						value="180"/>


		<!-- Email config settings-->
		<add key="SendFromEmailId" 					value="The Common Application &lt;cacloudadmin@commonapp.net&gt;"/>
		<add key="ReplyToEmailId" 					value="appsupport@commonapp.net"/>
		<add key="TechSupportEmailAddress" 			value="caproductsupport@commonapp.org"/>
		<add key="SendFromEmailIdApp" 				value="Common App &lt;appsupport@commonapp.net&gt;"/>
		<add key="ReplyToEmailIdApp" 				value="appsupport@commonapp.net"/>
		<add key="SendFromEmailIdRec" 				value="The Common Application &lt;sfsupport@commonapp.net&gt;"/>
		<add key="ReplyToEmailIdRec" 				value="sfsupport@commonapp.net"/>
		<add key="SendFromEmailIdMember" 			value="The Common Application &lt;caohelp@commonapp.net&gt;"/>
		<add key="ReplyToEmailIdMember" 			value="caohelp@commonapp.net"/>
		<add key="MediaEmailAddress" 				value="media@commonapp.org" />
		<add key="BccEmailIdApp"            		value=""/>
		<add key="BccEmailIdMember"         		value=""/>
		<add key="BccEmailIdRec"            		value=""/>

		<!-- Transaction Isolations -->
	    <add key="AppSubmissionTransactionIsolation" 		value="ReadCommitted"/>
		<add key="AppRegistrationTransactionIsolation" 		value="ReadCommitted"/>
		<add key="RecSubmissionTransactionIsolation" 		value="ReadCommitted" />
	    <add key="SaveAnswerTransactionIsolation" 			value="ReadCommitted"/>
		<add key="AddMyCollegeTransactionIsolation" 		value="ReadCommitted"/>

		<!-- S3 settings -->
		<add key="BucketTempRawApp" 					value="ca.prod16.upload-temp/raw/app"/>
		<add key="BucketTempRawRec" 					value="ca.prod16.upload-temp/raw/rec"/>
		<add key="BucketTempConvApp" 					value="ca.prod16.upload-temp/converted/app"/>
		<add key="BucketTempConvRec" 					value="ca.prod16.upload-temp/converted/rec"/>
		<add key="BucketUploadCommon" 					value="ca.prod16.upload-perm/answers/app/common" />
		<add key="BucketUploadMember" 					value="ca.prod16.upload-perm/answers/app/member" />
		<add key="BucketUploadRecProfile" 				value="ca.prod16.upload-perm/answers/rec/profile" />
		<add key="BucketUploadRecForm" 					value="ca.prod16.upload-perm/answers/rec/form" />
		<add key="BucketMemberTemplate" 				value="ca.prod16.upload-perm/member/screen" />
 		<add key="BucketMemberSupplement" 				value="ca.prod16.upload-perm/member/supplement" />
		<add key="BucketCommonAppFormSubmission" 		value="ca.prod16.pdf-submitted/app" />
		<add key="BucketRecFormSubmission" 				value="ca.prod16.pdf-submitted/rec" />
		<add key="BucketMemberSds" 						value="ca.prod16.sds"/>
		<add key="BucketSWFTemp" 						value="ca.prod16.swf-temp"/>
		<add key="AppAnswersBucket" 					value="ca.prod16.answers-submitted-stage/app" />
		<add key="RecAnswersBucket" 					value="ca.prod16.answers-submitted-stage/rec" />
		<add key="BucketTempPreviewApp" 				value="ca.prod16.pdf-preview/app" />
		<add key="BucketTempPreviewRec" 				value="ca.prod16.pdf-preview/rec" />
		<add key="BucketDefaultScreenStatusVersion" 	value="ca.prod16.default-screen-status-versions"/>
		<add key="BucketMemberInstructionsFiles" 		value="ca.prod16.static-private/member-instructions"/>
		<add key="BucketPublicFiles" 					value="ca.prod16.static-public"/>
		<add key="BucketAccountRollover" 				value="ca.prod16.account-rollover"/>
		<add key="ScreenStatusBucket" 					value="ca.prod16.answers-submitted-stage/submittedstatus"/>
		<add key="PartnerXSLTBucket" 					value="ca.prod16.static-private/partnerXslt"/>
		<add key="PartnerAnswersBucket" 				value="ca.prod16.answers-submitted-stage/partner"/>
		
		<!-- CloudFront settings -->
		<add key="CDNDistributionId" 					value="EDP7QGJXMP4VM" />

		<!-- DynamoDB settings -->
		<add key="TableNamePrefix" 						value="Prod16" />

		<!-- ElastiCache settings -->
		<add key="CacheKeyPrefix" 						value="prod"/>
		<add key="ShortExpiration" 						value="6"/>
    	<add key="LongExpiration" 						value="24"/>
    	<add key="XLongExpiration" 						value="36"/>
    	<add key="HelpExpiration" 						value="24"/>
		<add key="RedisPrimary" 						value="dbcache.private.prod16.commonapp.net"/>
		<!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
		<add key="RedisDatabaseId" 						value ="0"/>

		<!-- CloudWatch settings -->
   		<add key="CloudWatchNameSpaceForSubmissionFailures" 	value="CA/Submission" />
	 	<add key="CloudWatchNameSpaceForSubmissionSuccess" 		value="CA/Submission" />
    	<add key="AppFailureMetricName" 						value="Prod16SubmissionFailures" />
    	<add key="AppSuccessMetricName" 						value="Prod16SubmissionSuccess" />
	 	<add key="RecFailureMetricName" 						value="Prod16SubmissionFailures" />
    	<add key="RecSuccessMetricName" 						value="Prod16SubmissionSuccess" />

		<!-- SQS settings -->
		<add key="RecSubmissionQueue" 				value="prod16-elephant-recsubmission" />
		<add key="AccountRolloverQueue" 			value="prod16-elephant-accountrollover"/>
		<add key="ARApplicantScreenQueueDelayTime" 		value="0"/>
		
		
		<!-- SallieMae Service settings -->
		<add key="SLMAWSURL" 						value="https://b2b.salliemae.com/com.slma.ai01.Netpayv10.GetPaymentDetails" />
		<add key="SLMAWSSOAPAction" 				value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC/GetPaymentDetails" />
  		<add key="SLMAWSProductID" 					value="858" />
		<add key="SLMAWSNameSpace" 					value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC" />
		<add key="SLMAWSLogonToken" 				value="commonapp1" />
		<add key="SLMAWSAuthInfo" 					value="CommonApp:Sa11ieMae" />
		<add key="SLMAWSEnabled" 					value="true" />
		
		<!-- ScholarSnapp settings -->
		<add key="SSAuthUrl" 							value="https://auth.scholarsnapp.org/"/>
		<add key="SSRedirect_Uri" 						value="https://apply.commonapp.org/ScholarSnapp"/>
		<add key="ScholarSnappXSLVersion" 				value="3"/>
	
	
	</appSettings>

	<connectionStrings configSource="connstrings.config" />

	<system.web>
		<compilation debug="false" targetFramework="4.6.1" />
	</system.web>

	<system.serviceModel>
		<diagnostics wmiProviderEnabled="true">
		</diagnostics>
		<services>
			<service name="AnswerService">
				<endpoint  address="" binding="wsHttpBinding" contract="IAnswerService" >
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="RequirementGroupService">
				<endpoint  address="" binding="wsHttpBinding" contract="IRequirementGroupService" >
				</endpoint>
			</service>
			<service name="DataCatalogService">
				<endpoint  address="" binding="wsHttpBinding" contract="IDataCatalogService" >
				</endpoint>
			</service>
			<service name="RequirementRuleService">
				<endpoint  address="" binding="wsHttpBinding" contract="IRequirementRuleService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="ExportService">
				<endpoint  address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExportService" contract="IExportService" >
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
			<bindings>
				<basicHttpBinding>
					<binding  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="05:00:00" sendTimeout="05:00:00"
						maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binding>
					<binding name="BasicHttpBinding_IExportService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="05:00:00" sendTimeout="05:00:00"
						maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
						<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					</binding>
				</basicHttpBinding>
			</bindings>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\WCFAppServices.svclog" />
		</sharedListeners>
	</system.diagnostics>

	<rebus>
		<endpoints>
			<add messages="CommonApp.Cloud.Services.DataTransferObjects" endpoint="prod16-elephant-appsubmission"/>
		</endpoints>
	</rebus>
	<runtime>
    		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      			</dependentAssembly>
      			<dependentAssembly>
        			<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        			<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      			</dependentAssembly>
    		</assemblyBinding>
  	</runtime>

</configuration>
