<?xml version="1.0" encoding="utf-8"?>

<configuration>
  	<appSettings file="channel-appsettings.config">
  	
  		<!-- General CA settings -->
        <add key="Issuer" 										value="https://mobile-auth.commonapp.org"/>
		<add key="TableNamePrefix" 								value="Prod17" />
		<add key="AWSSNSiOSPushARN" 							value="arn:aws:sns:us-west-2:213357028576:app/APNS/prod17.mobile-app"/>
		<add key="AWSRegion" 									value="us-west-2" />
		<add key="AWSNoOfRetries" 								value="5" />
     	<add key="InvitationEmailUpdatePasswordLinkExpiry" 		value="2160"/>
		<add key="RecDefaultPassword" 							value="f9KZpsXr$$%k"/>
		<add key="PasswordHashIterationCount" 					value="10251"/>
		
		<!-- Settings for initialization only - VALUES DO NOT MATTER -->
		<add key="SlideRoomKey"									value="" />
		<add key="HelpExpiration" 								value="24"/>
		
		<!-- S3 settings -->
		<add key="BucketCAMobileApplicationStatus" 				value="ca.prod17.static-public/ExternalResource"/>
		<add key="BucketMemberInstructions" 					value="ca.prod17.static-private/member-instructions"/>
		<add key="BucketMobileHelpTopics" 						value="ca.prod17.static-private/MobileHelpTopics"/>
     	<add key="RecAnswersBucket" 							value="ca.prod17.answers-submitted-stage/rec"/>
    	<add key="BucketTempPreviewRec" 						value="ca.prod17.pdf-preview/rec"/>
    	<add key="BucketRecFormSubmission" 						value="ca.prod17.pdf-submitted/rec"/>
    		
		<!-- ElastiCache settings -->
		<add key="RedisPrimary" 								value="dbcache.private.prod17.commonapp.net"/>
		<add key="ShortExpiration" 								value="1"/>
		<add key="LongExpiration" 								value="12"/>
		<add key="ConnTimeout" 									value="300"/>
		<add key="CmdTimeout" 									value="180"/>
		
		<!-- CA URL settings -->
 		<add key="RecHelpUrl"                     				value="https://recsupport.commonapp.org/" />
 		<add key="RecLogInUrl" 									value="https://recommend.commonapp.org" />
 		<add key="InvitationForgotPasswordUrl" 					value="https://recommend.commonapp.org/forgot-password" />
 		<add key="InvitationEmailUpdatePasswordUrl" 			value="https://recommend.commonapp.org/RecAccount/Register" />
 		<add key="OptOutUrl" 									value="https://recommend.commonapp.org/RecAccount/RecOptOut" />
 		<add key="DeclineUrl" 									value="https://recommend.commonapp.org/RecAccount/RecDecline" />
 		<add key="SystemReqUrl" 								value="http://www.commonapp.org/system-requirements" />
 		<add key="RecSupportUrl" 								value="https://recsupport.commonapp.org" />
 		<add key="AppHelpUrl" 									value="https://appsupport.commonapp.org/"/>
		<add key="ParentEDFormUrl" 								value="https://recommend.commonapp.org/RecAccount/ParentED"/>
		<add key="ContentPath" 									value="https://apply.commonapp.org" />
	
     	<!-- Email config settings-->
 	  	<add key="SendFromEmailIdRec" 							value="sfsupport@commonapp.net"/>
 	  	<add key="ReplyToEmailIdRec" 							value="sfsupport@commonapp.net"/>
     	<add key="BccEmailIdRec"            					value="sfsupportbcc@commonapp.net"/>
     	<add key="SendFromEmailIdApp" 							value="appsupport@commonapp.net"/>
		<add key="ReplyToEmailIdApp" 							value="appsupport@commonapp.net"/>
    	<add key="BccEmailIdApp" 								value="appsupportbcc@commonapp.net"/>
     		
		<!-- Cloud watch Start-->
		<add key="CloudWatchNameSpaceForSubmissionFailures" 	value="CA/Submission"/>
		<add key="CloudWatchNameSpaceForSubmissionSuccess" 		value="CA/Submission"/>
		<add key="RecFailureMetricName" 						value="Prod17SubmissionFailures"/>
    	<add key="RecSuccessMetricName" 						value="Prod17SubmissionSuccess"/>

  	</appSettings>
  </configuration>
