<appSettings>
	<!-- External config file used by logic, partner, SWF small, SWF large, Account Rollover and Submission tiers -->
	
    <!-- General settings -->
    <add key="DeploymentChannel"							value="donkey" />
    <!-- LogicHostName is used to dynamically substitue the dummy hostname logic-host in service endpoint configuration -->
    <add key="LogicHostName"								value="donkey-logic.private.prod17.commonapp.net" />
    <add key="RedisDatabaseId"								value="0" /> 
    
    <!-- SQS Settings -->
    <!-- Queue names are empty in Rebus config sections in the main application config files and dynamically substituted by one of the values below-->
    <add key="RecSubmissionQueue"							value="prod17-donkey-recsubmission" />
    <add key="AppSubmissionQueue"							value="prod17-donkey-appsubmission" />
    <add key="AccountRolloverQueue"							value="prod17-donkey-accountrollover" />
    
    <!-- SWF Settings -->
    <add key="SWFDomain"								value="prod17.donkey.member" />
</appSettings>
