<?xml version="1.0"?>
<configuration>
  <configSections>
  	<section name="CAAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <configProtectedData>
    <providers>
      <add keyContainerName="CAOKey"
      useMachineContainer="true"
      description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
      name="CAOProvider"
      type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>

  <CAAppSettings configSource="appsettings.config" />

  <appSettings>
    <!-- General ASP.Net settings -->
    <add key="webpages:Version" 				value="1.0.0.0" />
    <add key="TableNamePrefix" 					value="Prod16" />

    <!-- CA URL settings -->
    <!-- IMPORTANT: this is a namespace, not a URL; do not change this to be "envrionment specific" -->
    <add key="ContractNameSpace" 				value="http://www.commonapp.org/ServiceModel/ExternalServices/"/>

    <!-- General CA settings -->
    <add key="DeploymentChannel"				value="donkey" />
    <add key="AWSLogging" 						value="log4net" />
    <add key="AWSNoOfRetries" 					value="5" />
    <add key="AWSRegion" 						value="us-west-2" />
    <add key="SubSystem"                    	value="Rec" />
    <add key="UploadQuestionIdsToShrink" 		value="237,1248,1286,1287,1288,1289,1327,1354,1380,1797" />
    <add key="UseMultiThreadForPrintPreview" 	value="false" />

    <!-- Start - S3 Buckets access information -->
    <add key="BucketTempRawRec" 				value="ca.prod16.upload-temp/raw/rec"/>
    <add key="BucketTempConvRec" 				value="ca.prod16.upload-temp/converted/rec"/>
    <add key="BucketRec" 						value="ca.prod16.upload-perm/answers/rec" />
    <add key="BucketUploadRecProfile" 			value="ca.prod16.upload-perm/answers/rec/profile" />
    <add key="BucketUploadRecForm" 				value="ca.prod16.upload-perm/answers/rec/form" />
    <add key="BucketRecFormSubmission" 			value="ca.prod16.pdf-submitted/rec" />
    <add key="BucketTempPreviewRec" 			value="ca.prod16.pdf-preview/rec" />

    <!-- ElastiCache settings -->
    <add key="RedisPrimary" 					value="no_session_cache"/>
    <add key="RedisDatabaseId" 					value ="1"/>

  </appSettings>

  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRequirementRuleService1" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAnswerService" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ILookupService" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMemberService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IApplicantService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDataCatalogService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFormService" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IRecommenderService"  sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="CA4ServiceConfig" maxBufferPoolSize="2147483647"  closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxReceivedMessageSize="2147483647">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        <security mode="None">
          <transport clientCredentialType="None"/>
        </security>
        </binding>
        <binding name="BasicHttpBinding_IPrintService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2097152" maxBufferSize="4097152" maxReceivedMessageSize="4097152"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    <wsHttpBinding>
      <binding name="CA4ServiceConfig1" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="2147483647"
      maxStringContentLength="2147483647"
      maxArrayLength="2147483647"
      maxBytesPerRead="2147483647"
      maxNameTableCharCount="2147483647" />
        <security mode="Transport">
          <transport clientCredentialType="None"></transport>
        </security>
      </binding>
    </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/AnswerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnswerService" contract="AnswerServiceRef.IAnswerService" name="BasicHttpBinding_IAnswerService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/ApplicantService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService" contract="ApplicantServiceRef.IApplicantService" name="BasicHttpBinding_IApplicantService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/DataCatalogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCatalogService" contract="DataCatalogServiceRef.IDataCatalogService" name="BasicHttpBinding_IDataCatalogService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/FormService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormService" contract="FormServiceRef.IFormService" name="BasicHttpBinding_IFormService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/LookupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILookupService" contract="LookupServiceRef.ILookupService" name="BasicHttpBinding_ILookupService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService" contract="MemberServiceRef.IMemberService" name="BasicHttpBinding_IMemberService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/RecommenderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecommenderService" contract="RecommenderServiceRef.IRecommenderService" name="BasicHttpBinding_IRecommenderService" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/RequirementRuleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequirementRuleService1" contract="RequirementRuleServiceRef.IRequirementRuleService" name="BasicHttpBinding_IRequirementRuleService1" />
      <endpoint address="http://logic-consolidated.private.prod16.commonapp.net/PrintService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintService" contract="PrintServiceRef.IPrintService" name="BasicHttpBinding_IPrintService" />
    </client>

    <services>
      <service name="CommonApp.Cloud.Services.ExternalServices.CA4Service" behaviorConfiguration="CA4ServiceBehavior" >
        <endpoint address="" contract="CommonApp.Cloud.Services.ExternalServices.ICA4Service" binding="basicHttpBinding"
          bindingConfiguration="CA4ServiceConfig"
          bindingNamespace="http://www.commonapp.org/ServiceModel/ExternalServices/" >
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <host>
        <baseAddresses>
          <add baseAddress = "https://services.commonapp.org/CA4Service.svc" />
        </baseAddresses>
        </host>
      </service>
    </services>

	  <behaviors>
      <serviceBehaviors>
        <behavior name="CA4ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph = "2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" externalMetadataLocation="https://services.commonapp.org/ca4service-wsdl.xml" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="CommonApp.Cloud.Services.ExternalServices.Ca4AuthorizationManager, ExternalServices" >
            <authorizationPolicies>
              <add policyType="CommonApp.Cloud.Services.ExternalServices.Ca4AuthorizationPolicy, ExternalServices" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph = "2147483647" />
        </behavior>
        <behavior name="UserTokenEndpointBehavior">
          <httpUserToken userToken="DefaultUserToken" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="httpUserToken" type="CommonApp.Cloud.Services.ExternalServices.HttpUserTokenBehaviorExtensionElement, ExternalServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
        type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>
