<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
  </configProtectedData>
  
  <!--Local config-->
  <connectionStrings configSource="connstrings.config" />
  
  <appSettings>
    <add key="AppHelpAPIUri" 						value="https://d19.parature.com/api/v1/33011/33013/Article?_token_=HdK6CPKi6Yu5SgwLSqlTV56w6i4/GwwnZvpFOdcxKiVEChw307DgRVolSwZbBCu@FSAhApz0Rbn4rZqj0iME3A==" />
    <add key="RecHelpAPIUri" 						value="https://d19.parature.com/api/v1/33011/33014/Article?_token_=HdK6CPKi6Yu5SgwLSqlTV56w6i4/GwwnZvpFOdcxKiVEChw307DgRVolSwZbBCu@FSAhApz0Rbn4rZqj0iME3A==" />
    <add key="CacheKeyPrefix" 						value="help" />
    <add key="AWSNoOfRetries" 						value="5" />
    <add key="AWSRegion" 							value="us-west-2" />
    <add key="PRTBucketName" 						value="ca.prod16.sds" />
    <add key="PRTFolderName" 						value="usr/slma/" />
    <add key="PRTProcessedFolderName" 				value="usr/slma/Processed/" />
    <add key="PRTTempFolderName" 					value="usr/slma/temp/" />
    <add key="CDNDistributionId" 					value="EDP7QGJXMP4VM" />
    <add key="HelpExpiration" 						value="26" />
    <add key="BucketHelpCenterFiles" 				value="ca.prod16.upload-perm/CAHelp" />	
	<add key="BucketPublicFiles" 					value="ca.prod16.static-public" />
    <add key="RedisPrimary" 						value="session-state.private.prod16.commonapp.net" />
    <add key="RedisDatabaseId" 						value="4" />
	<add key="BucketSWFTemp" 						value="ca.prod16.swf-temp" />
	
	<!-- Environment variable to depict dev/ alpha / delta / Prod environment -->
    <add key="AppRuntimeEnvironment" 				value="prod"/>
	
    <!-- Allows 0 - 15 databases on same redis cluster. Local = 0, Alpha = 1, Delta = 2-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
		<binding name="BasicHttpBinding_IDataCatalogService" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_ICommonService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483646" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483646" maxArrayLength="2147483646" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFormService" />
        <binding name="BasicHttpBinding_IApplicantService" maxReceivedMessageSize="2097152" />
      </basicHttpBinding>
    </bindings>
    <client>
	<endpoint address="http://utility-logic.private.prod16.commonapp.net/DataCatalogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCatalogService" contract="DataCatalogServiceReference.IDataCatalogService" name="BasicHttpBinding_IDataCatalogService" />
      <endpoint address="http://utility-logic.private.prod16.commonapp.net/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService1" contract="CommonServiceRef.ICommonService" name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://utility-logic.private.prod16.commonapp.net/FormService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormService" contract="FormServiceRef.IFormService" name="BasicHttpBinding_IFormService" />
      <endpoint address="http://utility-logic.private.prod16.commonapp.net/ApplicantService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService" contract="ApplicantServiceRef.IApplicantService" name="BasicHttpBinding_IApplicantService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- BEGIN: Added by PostSharp -->
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.1.43.9" newVersion="3.1.43.9" />
      </dependentAssembly>
      <!-- END: Added by PostSharp -->
    </assemblyBinding>
  </runtime>
</configuration>
