<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	
  <configProtectedData>
		<providers>
			<add keyContainerName="CAOKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CAOProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>
	
  <connectionStrings configSource="connstrings.config" />
  
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
        </DbProviderFactories>
    </system.data>
    <appSettings>
        <add key="SeasonStartDt" 						value="2016-07-31 21:00:00" />
        <add key="CommandTimeOut" 						value="280" />

        <!-- Google Information-->
        <add key="GCLIENT_ID" 							value= "936408477475-niae7bal6m4ab2oerongdi7d5iv1tmuj.apps.googleusercontent.com" />
        <add key="GCLIENT_SECRET" 						value="_mFUrf_7TDoDlCzTE5c7Piw2" />
        <add key="GSCOPE" 								value="https://spreadsheets.google.com/feeds" />
        <add key="GREDIRECT_URI" 						value="urn:ietf:wg:oauth:2.0:oob" />
        <add key="GPROJECT_NAME" 						value="Auto Metrics" />
        <add key="GKEY" 								value="1lgeTJRKXVR0NwPqQXemDjdm_qVJ7FFjWNo18D7PYeU8" />
        <add key="GOLDKEY" 								value="1crai0dDW_grvgIc8dgrLOtxOB7FX7-cc7E_6rfjUH44"/>
        <add key="GTESTKEY" 							value="1t4RosQ4fnuGdCIG5Cd0B57CFq9Ko8LgtfMSLee3MCbY" />
        <add key="GUSER_NAME" 							value="936408477475-skcivae9gikf2ssf8b3bnrfq4v5o45i5@developer.gserviceaccount.com" />
        <add key="GPASSWORD" 							value="e7TqeNYsUYVnQHwmmDBgtSm4YrkkU4GnAYqe9kHHHcje75G2TFrYEUS6uwAcr3Z2SxtduU3d9cMWNHHZmTVeKrTRAAGAUWH5WnDy" />
        <add key="GNEW_PASSWORD" 						value="notasecret" />
        
        <!-- Parature Information-->
        <add key="AppAccountId" 						value="33011"/>
        <add key="MemberAccountId" 						value="33012"/>
        <add key="AppDeptId" 							value="33013" />
        <add key="RecDeptId" 							value="33014"/>
        <add key="MemberDeptId" 						value="33015"/>
        <add key="AppCSRId" 							value="109"/>
        <add key="MemberCSRId" 							value="81" />
        <add key="AppToken" 							value="ldA1SjGUaTjkg8v2ik8RH71ZI8UUhYCAwhIEeZOixYDXoHEFhau2yPyYfYWhnjfmb6jqVWbLfP8qs7vGP57amlgQGCJw/fNtChQeZmi3BR8="/>
        <add key="MemberToken" 							value="zY763b4L58BStZXQ1h/CCIWEbtcKP2g1fW/hYGN@rUHCbaB/i6df9/IkJJrEmQRUKk5QydJN1WLWk8iwSRYz30F4GDSzDidGm9tY587t5cM="/>
        <add key="TokenExpiry" 							value="01/01/2025" />
        <add key="ServerUrl" 							value="https://d19.parature.com" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
