<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add keyContainerName="CAOKey"
           useMachineContainer="true"
           description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
           name="CAOProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>

  <appSettings>
    <!-- CacheKeyPrefix are - dev,alpha,delta,stage,preview,prod-->
	<add key="DeploymentChannel" 						value="elephant" />
    
	<!--MySqlConnection / OspConnection-->
    <add key="defaultConnection" 						value="MySqlConnection" />
    <add key="connectionProvider" 						value="MySql" />
    <add key="defaultMemberConnection" 					value="MySqlMemberConnection" />
    <add key="memberConnectionProvider" 				value="MySql" />
    <add key="readReplicaConnection" 					value="MySqlReadReplicaConnection" />
    <add key="readReplicaConnectionProvider" 			value="MySql" />
    <add key="ShortExpiration" 							value="6" />
    <add key="LongExpiration" 							value="24" />
	<add key="XLongExpiration" 							value="36" />
    <add key="AWSRegion" 								value="us-west-2" />
    <add key="AWSNoOfRetries" 							value="5" />
    <add key="WarmerErrorThreshold" 					value="5" />
    <add key="SeasonStartDate"							value="07/30/2016"/>
    
	<!-- Redis Cache related configs-->
    <add key="RedisPrimary" 							value="dbcache.private.prod16.commonapp.net" />
    <!-- RedisDatabaseID; 0 = Elephant, 1 = Donkey -->
    <add key="RedisDatabaseId" 							value="0" />
  </appSettings>

  <connectionStrings configSource="connstrings.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <!-- BEGIN: Added by PostSharp -->
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.1.47.9" newVersion="3.1.47.9" />
      </dependentAssembly>
      <!-- END: Added by PostSharp -->
    </assemblyBinding>
  </runtime>
</configuration>
