<?xml version="1.0"?>

<configuration>

  <sapSettings>
    <!-- General ASP.Net settings -->
    <add key="webpages:Version" 							value="3.0.0.0" />
    <add key="ClientValidationEnabled" 						value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" 				value="true" />
    
    <!-- General CA settings -->
    <add key="DeploymentChannel"							value="donkey" />
    <add key="AWSRegion" 									value="us-west-2" />
    <add key="CookieUseSSL" 								value="false" />
    <add key="SubSystem" 									value="Sap" />
    <add key="AWSNoOfRetries" 								value="5" />
    <add key="AWSLogging" 									value="log4net_A" />
    <add key="RebuildWritingSupplementDuringSubmission" 	value="false" />
    <add key="SapRuntimeEnvironment" 						value="prod_A" />
    <add key="SeasonStartDate" 								value="07/30/2011"/>
    
    <!-- CA URL settings -->
    <add key="SapLoginPageUrl" 								value="https://saply.commonsap.org" />
    <add key="RecLogInUrl" 									value="https://mecommend.commonsap.org" />
    <add key="InvitationRegisterUrl" 						value="https://mecommend.commonsap.org/RecAccount/Register" />
    <add key="InvitationForgotPasswordUrl" 					value="https://mecommend.commonsap.org/forgot-password" />
    <add key="OptOutUrl" 									value="https://mecommend.commonsap.org/RecAccount/RecOptOut" />
    <add key="DeclineUrl" 									value="https://mecommend.commonsap.org/RecAccount/RecDecline" />
    <add key="ParentEDFormUrl" 								value="https://mecommend.commonsap.org/RecAccount/ParentED" />
    <add key="HomePage" 									value="/Sap/Screen#!c/1?sid=1" />
    <add key="SapLogOff" 									value="/LogOff_A" />
    <add key="ContentPath" 									value="https://saply.commonsap.org" />
    <add key="SapHelpUrl" 									value="https://sapsupport_A.commonsap.org" />
    <add key="SapHelpSsoUrl" 								value="https://sapsupport.commonsap.org/link/portal/33011/33013/sso/3" />
    <add key="HIGHERONEPOSTBACKBASEURL" 					value="https://pmtconf11.commonsap.org" />
    <add key="RecSupportUrl" 								value="https://mecsupport.commonsap.org" />
    
    <!-- S3 settings -->
    <add key="BucketTempRawSap" 							value="ca.prod11.upload-temp/raw/sap" />
    <add key="BucketTempRawRec" 							value="ca.prod11.upload-temp/raw/mec" />
    <add key="BucketTempConvSap" 							value="ca.prod11.upload-temp/converted/sap" />
    <add key="BucketTempConvRec" 							value="ca.prod11.upload-temp/converted/mec" />
    <add key="BucketUploadCommon" 							value="ca.prod11.upload-perm/answers/sap/common" />
    <add key="BucketUploadMember" 							value="ca.prod11.upload-perm/answers/sap/member" />
    <add key="BucketUploadRecProfile" 						value="ca.prod11.upload-perm/answers/mec/profile" />
    <add key="BucketUploadRecForm" 							value="ca.prod11.upload-perm/answers/mec/form" />
    <add key="BucketCommonSapFormSubmission"				value="ca.prod11.pdf-submitted/sap" />
    <add key="BucketRecFormSubmission" 						value="ca.prod11.pdf-submitted/mec" />
    <add key="BucketTempPreviewSap" 						value="ca.prod11.pdf-preview/sap" />
    <add key="BucketTempPreviewRec" 						value="ca.prod11.pdf-preview/mec" />
    <add key="BucketPublicFiles" 							value="ca.prod11.static-public" />
    
    <!-- DynamoDB settings -->
    <add key="TableNamePrefix" 								value="Prod11" />
    
    <!-- ElastiCache settings -->
    <add key="CacheKeyPrefix" 								value="prod"/>
    <add key="RedisPrimary" 								value="session-state.private.prod11.commonsap.net" />

    <!-- Sap and Rec use Help Topics, so ID needs to be 4 -->
    <add key="RedisDatabaseId" 								value="4" />
    
    <!-- SlideRoom settings -->
    <add key="SlideRoomUrl" 								value="https://submit.slideroom.com/commonsap/relay" />
    <add key="YearForSlideRoom" 							value="2011" />
    
    <!-- Parature settings -->
    <add key="ParatureInstanceId" 							value="CommonSapPassthrough" />
    <add key="ParaturePartnerId" 							value="CommonSapPassthrough" />
    <add key="ParatureSSOBaseUrl" 							value="https://sso.parature.com" />
    <add key="ParatureSapDownUrl" 							value="~/SapSprtMaint.html" />
    
    <!-- HIGHERONE Service config -->
    <add key="HIGHERONEWSURL" 								value="https://b2b.higherone.com/NetPayWebServices/PaymentDetailsSvc.asmx"/>
    <add key="HIGHERONEWSSOAPAction" 						value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC/GetPaymentDetails" />
    <add key="HIGHERONEWSProductID" 						value="502" />
    <add key="HIGHERONEWSNameSpace" 						value="http://salliemaecentral.com/NetPay/PaymentDetailsSVC" />
    <add key="HIGHERONEWSLogonToken" 						value="commonsap1" />
    <add key="HIGHERONEWSAuthInfo" 							value="CommonSap:Sa11ieMae" />
    <add key="HIGHERONEWSEnabled" 							value="true" />
    
    <!-- Status Rebuild settings -->
    <add key="RebuildMemberScreenDuringSubmission" 			value="false" />
    <add key="RebuildFYCommonScreensDuringSubmission" 		value="" />
    <add key="RebuildTRCommonScreensDuringSubmission" 		value="" />
    <add key="UseMultiThreadForPrintPreview" 				value="false" />
    
    
	<add key="PreferredScript" 								value="LATIN_1" />
	<add key="GoogleSampling" 								value="10"/>
	
  </sapSettings>

</configuration>
